<div class="l-wrapper">
  <h1>About</h1>
  <p> Dave started leading his boys to memorize proverbs because he got tired of talking about ninja turtles and laser sharks. But the other reason is that the book of Proverbs is postured toward parents instructing their child.</p>
</div>
