<div class="l-wrapper">
  <h1>About</h1>
  <p>Dave started leading his boys to memorize proverbs because he got tired of talking about ninja turtles and laser sharks. The reason he chose Proverbs is because it is postured toward parents instructing their children to avoid fools and pursue wisdom.</p>
</div>
