<div class="l-wrapper">
  <h1>Contact</h1>
  <p>Contact Dave with any questions or suggestions.</p>
  <ul>
    <li><%= link_to "dave's homepage", 'http://www.wwwoodall.com' %></li>
    <li><%= mail_to 'dave@woodalls.me', 'email dave' %></li>
    <li><%= link_to 'twitter', 'http://www.twitter.com/wwwoodall' %></li>
  </ul>

</div>
