<div class="l-wrapper">
  <h2>Getting Started</h2>
  <h3>Memorize? yikes!</h3>
  <p>I know what you're thinking... that this is going to be a huge challenge. But your child's mind is a sponge. The biggest challenge for you is to set up regular times to discuss the verses. Add reminder alarms on your phone for car rides, bed times, and meal times until you form a new habit.</p>
  <h3>Read in different cycles</h3>
  <p>Repetition can come in many forms like: reading a whole chapter, Reading 10 verses, 2 times.  Or reading the current verse 5 times. You are on a long, slow journey that has no deadline.</p>
  <h3>Benefits</h3>
  <p>You will find that you will end up memorizing the Proverbs as you help your child do so. The proverbs will also begin to seep into your daily conversations. Regularly I say verse 8 to Oscar ("Listen my son to your Father's instruction.") and he knows what that means.</p>
  <h3>Coming soon..</h3>
  <p>This app is for fun so I'll be adding to it as interest and feedback come so please
    <a href="<%= contact_path %>" title="">let me know </a>
    if you have questions or comments.</p>
</div>
