<div class="l-hero hero-content">
  <div class="tagline">
    teach the
  </div>
  <h1>Proverbs</h1>
</div>
<div class="intro l-wrapper">

  <p>Track of your child's progress and memorize with different practice suggestions.</p>

  <h3>Why Memorize Proverbs</h3>
  <%= link_to 'https://www.youtube.com/embed/iAYEcKZXebw?rel=0', target: '_blank' do  %>
  <%= image_tag 'wells.jpg' %>
  <% end %>
  <p>Proverbs is a book of guidance for parents to teach their children. Memorizing proverbs gives your child a moral compass and respect for life. Proverbs admonishes children to avoid fools and pursue wisdom.</p>
  <p>Proverbs is a great topic of conversation in the car, at bed, and over meal time. You will be encouraged and inspired by their ability to memorize by simple repetition. As a bonus, you will end up memorizing it too!</p>
  <h4>a little background...</h4>
  <p> I started leading the boys to memorize proverbs because I got tired of talking about ninja turtles and laser sharks that are more powerful than volcano tornadoes. But the other reason is that proverbs is highly postured toward a parent instructing their child. "Listen my son to your Father's instruction." If you take that literally, then Proverbs is for parents with toddlers.</p>

  <div class="sign-in-up">
    <ul>
      <li><%= link_to 'sign up', new_user_registration_path %></li>
      <li><%= link_to 'sign in', new_user_session_path %></li>
    </ul>
  </div>
</div>
