<p id="notice"><%= notice %></p>

<h1>Proverbs</h1>
<div class="l-wrapper">
    <% @verses.each do |verse| %>
      <div class="verse-wrapper">
        <span class="verse"><%= verse.verse %></span>
        <span class="text"><%= verse.text %></span>
      </div>
    <% end %>
</div>
