<p id="notice"><%= notice %></p>

<div class="l-wrapper">
    <h2>Chapter 1</h2>
    <% @verses.each do |verse| %>
      <div class="verse-wrapper">
        <span class="verse"><%= verse.verse %></span>
        <span class="text"><%= verse.text %></span>
      </div>
    <% end %>
</div>
