<div class="l-wrapper">
  <% if current_user.parent.kids.empty? %>
    <p><%= link_to "Add your first born", new_kid_path %></p>
  <% end %>
  <a href="" title="">try a different practice</a>
  <h3><%= @practice.title %></h3>
  <p><%= @practice.body %></p>
  <% if @practice.example.present? %>
    <b>example</b>
    <p><%= @practice.example %></p>
  <% end %>
</div>
