<div class="l-wrapper">
  <% if current_user.email == 'dave@woodalls.me' %>
    <h1><%= @count %> Users</h1>
    <% @users.each do |u| %>
      <p><%= u.email %>, last: <%= u.last_sign_in_at.strftime("%b, %e") %>, count: <%= u.sign_in_count %></p>
    <% end %>
  <% end %>
</div>
